
.card-title{
    font-weight: bold;
    color: black;
}

.tarjeta{
    background-color: white;
}

.card-img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card {
    display: inline-block;
    overflow: visible;
}

.cards-container{
  column-count: 2;
}

.text-center {
  text-align: center;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width:700px){
  .cards-container{
    column-count: 1;
  }
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}