<br />

<div class="agregar">
    <a class="btn waves-effect indigo darken-1" routerLink="/parametrizacion/proyecto/crear-proyecto"><i
            class="material-icons left"> add</i> Agregar Registro</a>
    &nbsp; &nbsp;
</div>
<div class="tabla">
    <table class="table table-responsive striped ">
        <thead>
            <th class="ar">Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Ciudad</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: 4, currentPage: pagina }">
                <td>
                    {{r.CodigoProy}}
                </td>
                <td>
                    {{r.NombreProy}}
                </td>
                <td class="text">
                    {{r.DescripcionProy}}
                </td>
                <td>
                    {{r.DImagen}}
                </td>
                <td>
                    {{r.ciudad.NombreC}}
                </td>
                <td>
                    <div class="diveditar"><a class="editar btn waves-effect indigo darken-1"
                            routerLink="/parametrizacion/proyecto/editar-proyecto/{{r.CodigoProy}}"><i
                                class="material-icons left">
                                edit</i>Editar Registro</a>
                    </div>
                    &nbsp; &nbsp;
                    <button type="button" (click)="VerificarEliminacion(r.CodigoProy, r.NombreProy)"
                        class="eliminar btn waves-effect indigo darken-1"
                        routerLink="/parametrizacion/proyecto/listar-proyecto"><i class="material-icons left">
                            delete</i>Eliminar Registro</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="pagina = $event" previousLabel="Anterior" nextLabel="Siguiente"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="Página">
</pagination-controls>