.brand-logo{
    padding-left: 10px;
}

.espaciomenus{
    background-color: #3949ab;
    color: white;
    margin-right: -12px;
    
}
.espaciomenususuario{
    background-color: #3949ab;
    color: white;
}
.espaciomenususuario:hover{
    background-color:#283593;
}
.espaciomenus:hover{
    background-color:#283593;
 }

.dropdown-content{
    background-color: white;
    
}

a{
    font-size: 13px;
}

@media (max-width:1150px) and (min-width:990px) {
    a {
        font-size: 8px;
    }
}


