<nav>
  <div class="nav-wrapper indigo darken-1">
    <a routerLink="inicio" class="brand-logo">UdeC S.A.S</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">

      <li *ngIf="isAdmin&&isLogged"><a class='dropdown-trigger waves-effect btn-flat espaciomenus' href='#'
        data-target='dropdown5'>Informes</a></li>
    <ul id='dropdown5' class='dropdown-content'>
      <li><a style="color: black;" routerLink="venta/pago/listar-pago">Informe De Pagos</a></li>
      <li><a style="color: black;" routerLink="informe/informe-ventas">Informe De Ventas</a></li>
      <li><a style="color: black;" routerLink="informe/informe-proyectos">Informe De Proyectos</a></li>
    </ul>

      <li *ngIf="isLogged"><a class='dropdown-trigger waves-effect btn-flat espaciomenus' href='#'
          data-target='dropdown4'>Ventas</a></li>
      <ul id='dropdown4' class='dropdown-content'>
        <li *ngIf="isLogged"><a routerLink="venta/cliente/listar-cliente" style="color: black;"
            href='#'>Clientes</a></li>
        <li *ngIf="isLogged"><a routerLink="venta/solicitud/listar-solicitud" style="color: black;"
            href='#'>Solicitudes</a></li>
        <li *ngIf="isLogged"><a routerLink="venta/pago/crear-pago" style="color: black;"
            href='#'>Pagos</a></li>
      </ul>

      <li *ngIf="isAdmin&&isLogged"><a class='dropdown-trigger waves-effect btn-flat espaciomenus' href='#'
        data-target='dropdown3'>Parametrizacion</a></li>
    <ul id='dropdown3' class='dropdown-content'>
      <li *ngIf="isAdmin&&isLogged"><a routerLink="usuario/listar-usuario" style="color: black;"
          href='#'>Usuarios</a></li>

      <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/inmueble/listar-inmueble"
        style="color: black;" href='#'>Inmuebles</a></li>

      <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/bloque/listar-bloque" style="color: black;"
          href='#'>Bloques</a></li>

      <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/proyecto/listar-proyecto"
        style="color: black;" href='#'>Proyectos</a></li>

      <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/ciudad/listar-ciudad" style="color: black;"
          href='#'>Ciudades</a></li>

      <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/pais/listar-pais" style="color: black;"
          href='#'>Paises</a></li>
    </ul>

      <li *ngIf="!isLogged"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>
      <li *ngIf="isLogged"><a class='nombreusuario dropdown-trigger waves-effect btn-flat espaciomenususuario' href='#'
          data-target='dropdown1'>{{ FirstName }} {{ LastName }}</a></li>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="cambiarcontra" style="color: black;" routerLink="seguridad/cambiar-clave">Cambiar Contraseña</a>
        </li>
        <li><a class="cerrarsesion" style="color: black;" routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
      </ul>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">

  <li *ngIf="!isLogged"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li *ngIf="isLogged">
        <a class='collapsible-header waves-effect btn-flat '>{{ FirstName }} {{ LastName }}</a>
        <div class="collapsible-body">
          <ul id='' class=''>
            <li><a class="cambiarcontra" style="color: black;" routerLink="seguridad/cambiar-clave">Cambiar
                Contraseña</a>
            </li>
            <li><a class="cerrarsesion" style="color: black;" routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="usuario/listar-usuario" class='btn-flat ' href='#'>Usuarios</a></li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/inmueble/listar-inmueble" class='btn-flat '
      href='#'>Inmuebles</a></li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/bloque/listar-bloque" class='btn-flat '
      href='#'>Bloques</a></li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/proyecto/listar-proyecto" class='btn-flat '
      href='#'>Proyectos</a></li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/ciudad/listar-ciudad" class='btn-flat '
      href='#'>Ciudades</a></li>

  <li *ngIf="isAdmin&&isLogged"><a routerLink="parametrizacion/pais/listar-pais" class='btn-flat ' href='#'>Paises</a>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li *ngIf="isAdmin&&isLogged">
        <a class='collapsible-header waves-effect btn-flat '>Informes</a>
        <div class="collapsible-body">
          <ul id='' class=''>
            <li><a style="color: black;" routerLink="informe/informe-pagoC">Pago por Clientes</a></li>
            <li><a style="color: black;" routerLink="informe/informe-venta">Ventas</a></li>
            <li><a style="color: black;" routerLink="informe/informe-proyecto">Proyectos</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

</ul>