
<div id="crearCiudad" class="row">
    <div class="card-panel">
        <form class="crar-pais-form" [formGroup]="fgValidacion">
            <div class="titulo">
                <H4>Crear Ciudad</H4>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <input formControlName="ciudad" class="validate" id="ciudad" type="text">
                    <label for="ciudad" data-error="wrong" data-success="right">Nombre</label>
                    <div class="mensajeValidacion"
                        *ngIf="(obtenerFGV.ciudad.errors &&(obtenerFGV.ciudad.dirty||obtenerFGV.ciudad.touched))">
                        <strong>Este campo es requerido.</strong>
                    </div>
                </div>
            </div>
            <p class="center-align">
                <a class="btn waves-effect indigo darken-1" href="">Crear</a>
            </p>
        </form>
    </div>
</div>