<div class="titulo">
    <h4>INFORME DE PROYECTOS POR CIUDAD</h4>
</div>
<strong>Seleccione un Pais:</strong>
<form class="listar-proyecto-form" [formGroup]="fgValidacion">
    <div class="input-field col s12">
        <label class="active" data-error="wrong" data-success="right">Pais</label>
        <select (change)="CargarCiudades()" formControlName="paisId" class="browser-default">
            <option *ngFor="let p of paisListado" value="{{p.CodigoP}}">{{p.NombreP}}</option>
        </select>
        <div class="mensajeValidacion"
            *ngIf="(obtenerFGV.paisId.errors &&(obtenerFGV.paisId.dirty||obtenerFGV.paisId.touched))">
            <strong>Este campo es requerido.</strong>
        </div>
    </div>
    <strong>Seleccione un Ciudad:</strong>
    <div class="input-field col s12">
        <label class="active" data-error="wrong" data-success="right">Ciudad</label>
        <select (change)="CargarProyectos()" formControlName="ciudadId" class="browser-default">
            <option *ngFor="let c of ciudadListado" value="{{c.CodigoC}}">{{c.NombreC}}</option>
        </select>
        <div class="mensajeValidacion"
            *ngIf="(obtenerFGV.ciudadId.errors &&(obtenerFGV.ciudadId.dirty||obtenerFGV.ciudadId.touched))">
            <strong>Este campo es requerido.</strong>
        </div>
    </div>
</form>
<div class="tabla">
    <table class="table table-responsive striped ">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Imagen</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: 4, currentPage: pagina }">
                <td>
                    {{r.CodigoProy}}
                </td>
                <td>
                    {{r.NombreProy}}
                </td>
                <td class="text">
                    {{r.DescripcionProy}}
                </td>
                <td>
                    {{r.DImagen}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="pagina = $event" 
                      previousLabel="Anterior" 
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination" 
                      screenReaderPageLabel="Página">
</pagination-controls>

<div id="divgraficaEstados">
    <canvas id="myChart"></canvas>
</div>

<br>