<footer class="page-footer indigo darken-1">
    <div class="container">

        <div class="col l6 s12">
            <h5 class="white-text">Proyecto Constructora UdeC S.A.S</h5>
            <p class="grey-text text-lighten-4">Contactos: <br> Telefono : (+57) 3144343353 - (+57) 3203051809 <br>
                Correo : juan.1701822418@ucaldas.edu.co - yenny.1701825505@ucaldas.edu.co
            </p>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2021 Todos los derechos reservados - UdeA S.A.S
            <a class="grey-text text-lighten-4 right" href="https://www.ucaldas.edu.co/portal/">Universidad de
                Caldas</a>
        </div>
    </div>
</footer>