<div id="crearCiudad" class="row">
    <div class="card-panel">
        <div class="titulo">
            <H4>Edicion Proyecto</H4>
        </div>
        <form class="crar-pais-form" [formGroup]="uploadForm">
            <div class="row">
                <input formControlName="DImagen" type="hidden">
                <input formControlName="File" (change)="OnFileSelect($event)" class="subir validate" id="DImagen" type="file"
                    id="myFile" name="filename">
                <input type="button" value="upload" (click)="UploadImage()">
                <div class="mensajeValidacion"
                    *ngIf="(obtenerFGV.DescripcionProy.errors &&(obtenerFGV.DescripcionProy.dirty||obtenerFGV.DescripcionProy.touched))">
                    <strong>Este campo es requerido.</strong>
                </div>
            </div>
        </form>
        <form class="crar-pais-form" [formGroup]="fgValidacion">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">location_city</i>
                    <input formControlName="NombreProy" class="validate" id=" NombreProy" type="text">
                    <label class="active" for="NombreProy" data-error="wrong" data-success="right">Nombre</label>
                    <div class="mensajeValidacion"
                        *ngIf="(obtenerFGV.NombreProy.errors &&(obtenerFGV.NombreProy.dirty||obtenerFGV.NombreProy.touched))">
                        <strong>Este campo es requerido.</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <input formControlName="DescripcionProy" class="validate" id="DescripcionProy" type="text">
                    <label class="active" for="DescripcionProy" data-error="wrong" data-success="right">Descripción</label>
                    <div class="mensajeValidacion"
                        *ngIf="(obtenerFGV.DescripcionProy.errors &&(obtenerFGV.DescripcionProy.dirty||obtenerFGV.DescripcionProy.touched))">
                        <strong>Este campo es requerido.</strong>
                    </div>
                </div>
            </div>
             <div class="input-field col s12">
                <label class="active" data-error="wrong" data-success="right">Pais</label>
                <select (change)="CargarCiudades()" formControlName="paisId" id="paisId" class="browser-default">
                    <option *ngFor="let p of paisListado" value="{{p.CodigoP}}">{{p.NombreP}}</option>
                </select>
                <div class="mensajeValidacion"
                    *ngIf="(obtenerFGV.paisId.errors &&(obtenerFGV.paisId.dirty||obtenerFGV.paisId.touched))">
                    <strong>Este campo es requerido.</strong>
                </div>
            </div>
            <div class="input-field col s12">
                <label class="active" data-error="wrong" data-success="right">Ciudad</label>
                <select formControlName="ciudadId" class="browser-default">
                    <option *ngFor="let c of ciudadListado" value="{{c.CodigoC}}">{{c.NombreC}}</option>
                </select>
                <div class="mensajeValidacion"
                    *ngIf="(obtenerFGV.ciudadId.errors &&(obtenerFGV.ciudadId.dirty||obtenerFGV.ciudadId.touched))">
                    <strong>Este campo es requerido.</strong>
                </div>
            </div>
            <input formControlName="id" class="validate" id="id" type="hidden">
            <p class="center-align">
                <button (click)="ActualizarRegistro()" type="button"
                    class="crear btn waves-effect indigo darken-1 ">Actualizar</button>
                &nbsp;
                <a routerLink="/parametrizacion/proyecto/listar-proyecto" type="button"
                    class=" btn waves-effect indigo darken-1 ">Cancelar</a>
            </p>
        </form>
    </div>
</div>