<br />
<h1>Seleccione un Cliente: </h1>
<form class="crar-pais-form" [formGroup]="fgValidacion">
    <div class="input-field col s12">
        <label class="active" data-error="wrong" data-success="right">Cliente</label>
        <select (change)="CargarSolicitudes()" formControlName="clienteId" class="browser-default">
            <option *ngFor="let c of listarClientes" value="{{c.IdCliente}}">{{c.NombreCli}}</option>
        </select>
        <div class="mensajeValidacion"
            *ngIf="(obtenerFGV.clienteId.errors &&(obtenerFGV.clienteId.dirty||obtenerFGV.clienteId.touched))">
            <strong>Este campo es requerido.</strong>
        </div>
    </div>
</form>
<div class="tabla">
    <table class="table table-responsive striped ">
        <thead>
            <th>Inmueble</th>
            <th>Valor</th>
            <th>Imagen</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: 4, currentPage: pagina }">
                <td>
                    {{r.Inmueble}}
                </td>
                <td>
                    {{r.valor}}
                </td>
                <td>
                    {{r.imagen}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="pagina = $event" 
                      previousLabel="Anterior" 
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination" 
                      screenReaderPageLabel="Página">
</pagination-controls>