<br />

<div class="agregar"> 
    <a class="btn waves-effect indigo darken-1" routerLink="/usuario/crear-usuario"><i
        class="material-icons left"> add</i> Agregar Registro</a>
&nbsp; &nbsp;
</div>
<div class="tabla">
    <table class="table table-responsive striped ">
        <thead>
            <th>Id</th>
            <td>Documento</td>
            <th>Nombre</th>
            <td>Apellido</td>
            <td>Email</td>
            <td>Telefono</td>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: 4, currentPage: pagina }">
                <td>
                    {{r.DocumentoU}}
                </td>
                <td>
                    {{r.NombreU}}
                </td>
                <td>
                    {{r.ApellidoU}}
                </td>
                <td>
                    {{r.EmailU}}
                </td>
                <td>
                    {{r.TelefonoU}}
                </td>
                <td>
                    <a class="btn waves-effect indigo darken-1"
                        routerLink="/usuario/editar-usuario/{{r.IdUsuario}}"><i class="material-icons left">
                            edit</i>Editar Registro</a>
                            &nbsp; &nbsp; &nbsp; 
                    <button type="button" (click)="VerificarEliminacion(r.IdUsuario, r.NombreU)" class="btn waves-effect indigo darken-1"
                        routerLink="/usuario/listar-usuario"><i class="material-icons left">
                            delete</i>Eliminar Registro</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls  (pageChange)="pagina = $event"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="Página">
</pagination-controls>

